[submodule "third_party/vits"]
	path = src/third_party/vits
	url = https://github.com/jaywalnut310/vits.git
[submodule "third_party/asvspoof-2021"]
	path = src/third_party/asvspoof-2021
	url = https://github.com/ljuvela/asvspoof-2021.git
